style>

img {
    height: 100px;
    width: 100px
}
a {
    font-size: 60px;
    color: green
}
h1 {
    font-size: 70px;
    color: red
}
h2 {
    font-size: 60px;
    color: yellow
}
h3 {
    font-size: 50px;
    color: peru
}
h4 {
    font-size: 40px;
    color: maroon
}
h5 { 
    font-size: 30px;
    color: navy
}
h6 {
    font-size: 20px;
    color: olive
}
title {
    font-size: 60px;
    color: black
}
.link {
    font-size: 60px;
    color: black
}
